<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283353575244-vh73e12t2bm516m640q19jonllf6aioo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283353575244-vh73e12t2bm516m640q19jonllf6aioo</string>
	<key>API_KEY</key>
	<string>AIzaSyABCtibFp3sn3mEg_XMbx1NGsmfgZpeJW4</string>
	<key>GCM_SENDER_ID</key>
	<string>283353575244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ffchat.chat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-c88a6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-c88a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283353575244:ios:0406c75bbeeb9a75a9a9e9</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-c88a6.firebaseio.com</string>
</dict>
</plist>